html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  background: white;
  color: #333;
  position: fixed;
  // Could have also given it width 100%
  left: 0;
  right: 0;
  height: 40px;
  top: 0;
}

.header-content {
  // Set the header content to
  // 930px to line up with page content
  max-width: 930px;
  // the margin is positioning it with
  // the page content
  margin: 0 auto;
  display: flex;
  // need to give it a height, so it will
  // fill the rest of the header's space
  height: 100%;
  justify-content: space-between;
  // Since we take up the rest of the space
  // We can center the items vertically
  align-items: center;
  // Does not display by default
  input {
    display: none;
  }
}
// Doing min-width, so the normal CSS is
// designing the mobile experience
// mobile-first(ish)
@media (min-width: 700px) {
  // Once it hits 700px, the search will appear
  .header-content input {
    display: block;
  }
}

.main-nav {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      display: inline-block;
    }
  }
}

main {
  border: 3px dashed red;
  margin: 4rem auto;
  max-width: 930px;
}

.logo {
  border-radius: 50%;
  width: 70px;
  // Horizontally centers
  justify-self: center;
}

.user-info {
  border: 3px dashed blue;
  display: grid;
  padding: 10px;
  // Sets the logo and info in a
  // 1/3 2/3 layout
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
  h1 {
    margin: 0;
  }
  p {
    grid-column: 1 / -1;
  }
  .user-stats {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 700px) {
  .user-info {
    grid-template-columns: 1fr 2fr;
    p {
      grid-column: auto;
    }
  .user-stats {
    grid-column: auto;
    grid-row: auto;
    display: block;
  }
  }
  .logo {
    width: 152px;
    grid-row: 1 / -1;
    justify-self: center
  }
}

.feed-nav {
  display: flex;
  justify-content: center;
  a {
    display: block;
    padding: 10px;
  }
}

.news-feed {
  border: 3px dashed blue;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  img {
    // makes the grid a little more obvious
    width: 100%;
  }
}

@media (min-width: 700px) {
  .news-feed {
    grid-gap: 28px
  }
}
