/* CSS Normalize */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

body {
  background: #fdfdfd;
  min-height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  margin: 0;
  font-family: Roboto,'Helvetica Neue', Helvetica, sans-serif;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 60px auto 100px;
  background: #242a31;
}

nav {
  background: #242a31;
  color: white;
}

nav li, nav a {
  text-decoration: none;
  color: white;
  display: none;
}

nav ul.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav ul.is-active li, nav ul.is-active a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#toggle-container {
  grid-column: 3 / -1;
  justify-self: center;
}

#toggle {
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1em;
}

#toggle:focus, #toggle:hover {
  background: #fff;
  color: #000;
}

header h1 {
  grid-column: 1 / 2;
  margin: 0;
}

header h1 img {
  width: 30px;
}

main {
  display: grid;
  grid-template-areas: "hero" "posts";
  min-height: 100vh;
}

.hero {
  grid-area: hero;
  grid-auto-rows: 1fr;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #415368;
  color: #eeeeee;
  z-index: 1;
}

.hero__social {
  display: none;
}

.hero-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
}

.hero__image {
  width: 100px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: auto;
}

.img-circle {
  border-radius: 50%;
}

.hero__heading {
  margin: auto 0;
  grid-column: 2 / -1;
  grid-row: 1;
  display: inline;
  font-size: 20px;
}

a.social {
  color: #eee;
}

.hero__subtext {
  margin: auto;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  font-size: 16px;
}

.posts {
  grid-area: posts;
  color: #333;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 10px;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 2fr 2fr 1fr;
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card:hover {
  top: -2px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
}

.card h2 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card p {
  line-height: 1.4;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.card article {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.4;
}

footer {
  background: #242a31;
  color: white;
  grid-row: auto -1;
  grid-area: footer;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 600px) {
  header h1 img {
    width: 40px;
  }
  .hero__heading {
    font-size: 35px;
  }
  .hero__subtext {
    font-size: 20px;
  }
  span.hero__social {
    display: inline;
    margin-left: 20px;
  }
  .posts {
    grid-template-columns: 1fr 1fr;
  }
  .posts .featured {
    grid-column: 1/ span 2;
  }
  .posts .featured h2 {
    font-size: larger;
  }
}

@media (min-width: 850px) {
  .posts {
    grid-area: posts;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */