html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #111;
  color: #FFF;
}

.col {
  background: #333;
}

.controls {
  grid-row: 1 / -1
}

.tweet {
  padding: 10px;
  border-bottom: solid 1px #444;
  img {
    border-radius: 50%;
  }
}

.grid {
  display: grid;
  height: 100vh;
  // makes the overflow into additional
  // columns (default is rows)
  grid-auto-flow: column;
  grid-template: 52px auto / 50px;
  // Makes every additional column 270px
  grid-auto-columns: 270px;
  grid-column-gap: 7px;
}